<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SqlSession 이 작동하여 실행됨  -->
	<mapper namespace="member">

		<select id="selectMemberInfo" resultType="com.board.sophyapp.model.MemberVO">
			SELECT
					email
					, pass
					, reg_date
			FROM
				member_info
		</select>

		<insert id="insertMemberJoin" parameterType="com.board.sophyapp.model.MemberVO">
			INSERT INTO
				email,
				pass,
				reg_date
			VALUES(
				#{email},
				${pass},
				now()
			)
		</insert>




	</mapper>
